@model PackageBookingGroupViewModel

@{
    ViewData["Title"] = "ViewBookings";
    int customerId = @ViewBag.CustomerId;
}

<br />
<br />
<br />
<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <div style=" width: 175px; height: 175px; padding-top:35px" class="text-center jumbotron mx-auto pb-1">
                <i style="font-size:96px;" class="fas fa-user"></i>
            </div>
            <div class="mx-auto">
                <a asp-controller="Profile" asp-action="CustomerProfile" asp-route-id="@customerId" style=" width: 150px; height: 40px" class="btn btn-primary">Profile</a>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 36px" class=" col-lg-8 jumbotron">
        <div>
            <h3 style="margin-left:10px">Bookings</h3>
            <hr style="background-color: var(--TravelBlue)" />
        </div>

        @foreach (var bookingGroup in Model.BookingGroup)
         {
            decimal totalPrice = 0;
             <div style="padding-top:36px; padding-bottom:36px" class="jumbotron">
            @foreach (var booking in bookingGroup.Bookings)
             {
                totalPrice += booking.TravelerCount * booking.Package.PkgBasePrice;
                <h3>@booking.Package.PkgName</h3>
                <div class="font-italic">&quot; @booking.Package.PkgDesc &quot;</div>
                <dl class="row siteFont">
                    <dt class="offset-sm-1 col-sm-4">
                        Guests
                    </dt>
                    <dd class="col-sm-7">
                        @booking.TravelerCount
                    </dd>

                    @if (booking.TripTypeName != null)
                    {
                        <dt class="offset-sm-1 col-sm-4">
                            Travel Type
                        </dt>
                        <dd class="col-sm-7">
                            @booking.TripTypeName
                        </dd>
                    }

                    <dt class="offset-sm-1 col-sm-4">
                        Duration
                    </dt>
                    <dd class="col-sm-7">
                        @(((TimeSpan)(booking.Package.PkgEndDate - booking.Package.PkgStartDate)).Days) days
                    </dd>
                    <dt class="offset-sm-1 col-sm-4">
                        Subtotal
                    </dt>
                    <dd class="col-sm-7">
                        @((booking.Package.PkgBasePrice * booking.TravelerCount).ToString("c"))
                    </dd>
                </dl>
                }
                 @{
                     DateTime bd = (DateTime)bookingGroup.BookingDate;
                  }
                <hr class="blueRule" />
                <dl class="row siteFont">
                    <dt class="offset-sm-1 col-sm-4">
                        Booking Date:
                    </dt>
                    <dd class="col-sm-7">
                        @bd.ToString("MMMM dd, yyyy")
                    </dd>
                    <dt class="offset-sm-1 col-sm-4">
                        Total:
                    </dt>
                    <dd class="col-sm-7">
                        @totalPrice.ToString("c")
                    </dd>
                </dl>
            </div>
            }
        <a class="btn btn-secondary" href="#">Back to Top</a>
    </div>
</div>
