@*

    The shopping cart view
    Author: Nate Penner
    Styling: Daniel Palmer, Nate Penner
    February 2022

*@

@{ List<CartItemViewModel> Model = Context.Session.GetObject<List<CartItemViewModel>>("cartItems"); }
@{ bool CartIsEmpty = (Model == null || Model.Count == 0) ? true : false; }
@{ decimal totalPrice = 0m; }
@{
    ViewData["Title"] = "Shopping Cart";
}

@if (!CartIsEmpty)
{
    <script src="/js/cart.js" defer></script>
}
<br />
<br />
<div class="row">
    @*<partial name="_BookingSideMenuPartial" />*@
    <div style=" width: 175px; height: 175px; padding-top:35px;" class="col-sm-3 text-center jumbotron mx-auto cartViewCartIcon">
        <i style="font-size:96px;" class="fas fa-shopping-cart"></i>
    </div>
    <div style="padding-top:0;" class="col-sm-8 card px-0 jumbotron">
        <div class="container-fluid ">
            <div class="row">
                <h4 class="col-sm pl-2 py-2 cartHeader">Cart 
                    @if (!CartIsEmpty)
                    {<span id="clearCartButton" class="float-right">&times;</span> }
                </h4>
            </div>
            <div class="row ">
                <div class="col m-auto">
                    <div class="container">
                        @if (CartIsEmpty)
                        {
                            <h3 style="color:#fff" class="text-center font-italic my-auto">Cart is empty</h3>
                        }
                        else
                        {
                            @foreach (var cartItem in Model)
                            {

                                totalPrice += (cartItem.Package.PkgBasePrice * Convert.ToDecimal(cartItem.NumTravelers));

                                <div style="padding-top: 36px; padding-bottom:36px" class="row mt-3 jumbotron">
                                    <div class="col-12 siteFont"><h3 class="font-weight-bold">@cartItem.Package.PkgName </h3></div>
                                    <div class="col-12 siteFont"><span class="font-italic">&quot;@cartItem.Package.PkgDesc &quot;&ensp;-&ensp;<span class="font-weight-bold">@cartItem.TripDuration days </span></span></div>
                                    <div class="col-12 siteFont"><span class="font-weight-bold">@cartItem.NumTravelers guests x @cartItem.Package.PkgBasePrice.ToString("c") </span></div>
                                    <div class="col-12 siteFont"><a class="btn btn-danger font-weight-bold" asp-controller="Cart" asp-action="DeleteCartItem" asp-route-cartItemId="@cartItem.CartItemKey">Remove from Cart</a></div>
                                </div>
                            }
                        }

                        @if (!CartIsEmpty)
                        {
                            <div class="text-center">
                                <div class="siteFont"><span>Total:</span> @totalPrice.ToString("c") </div>
                                <hr class="blueRule" />
                                <a class="btn btn-primary siteFont" asp-controller="Booking" asp-action="Checkout">Checkout</a>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Confirm dialog for emptying the cart *@
@if (!CartIsEmpty)
{
    <div class="container cartClear" style="background-color: #303030; border: 1px solid #78A2CC; border-radius:10px" id="confirmDialog">
        <div class="row bg-blue cartHeader">
            <div class="col-12">
                <h3 class="text-center text-white siteFont my-2">Confirm</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3 siteFont">Do you want to remove all items from your cart?</div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="btn btn-success px-3 py-1 mr-2 siteFont" id="confirmYes">
                Yes
            </div>
            <div class="btn btn-danger px-3 py-1 siteFont" id="confirmNo">
                No
            </div>
        </div>
    </div>
} 